{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}for_calc</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'global\img\fc.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>for<span class="highlight">_</span>code <span class="highlight">[ ]</span></h1>
    </header>
    <main>
        <form id="calculator-form" method="post" action="{% url 'calc:atualizar_numero' %}">
            {% csrf_token %}
            <input type="hidden" name="valor" id="valor">
        </form>
            <div class="calculadora">

            <div class="resultado">
                <span id="display">
                {% if resultado %}
                   {{ resultado }}
                {% elif eq1%}
                    {% if eq1 %}
                        {{ eq1 }}
                    {% endif %}
                    {% if op %}
                        {{ op }}
                    {% endif %}
                    {% if eq2 %}
                        {{ eq2 }}
                    {% endif %}
                {% else %}
                    0
                {% endif %}
                                            
                    
                </span>
            </div>
            <div class="butoes">
                <button id="btn-sin" class="simbolo" data-op="sin">sin</button>
                <button id="btn-cos" class="simbolo" data-op="cos">cos</button>
                <button id="btn-tan" class="simbolo" data-op="tan">tan</button>
                <button id="btn-log" class="simbolo" data-op="log">log</button>
                <button id="btn-rad" class="simbolo" data-op="rad">rad</button>
                <button id="btn-exp" class="simbolo" data-op="pi">π</button>
                <button id="btn-fatorial" class="simbolo" data-op="!">!</button>
                <button id="btn-potencia" class="simbolo" data-op="^"> x <sup> y </sup></button>
                <button id="btn-limpar" class="simbolo_segundo" data-op="AC">AC</button>
                <button id="btn-voltar" class="simbolo_segundo" data-op="back">&lt</button>
                <button id="btn-porcentagem" class="simbolo_segundo" data-op="%">%</button>
                <button id="btn-divisao" class="simbolo_segundo" data-op="/">÷</button>
                <button id="btn-sete" class="numero" data-op="7">7</button>
                <button id="btn-oito" class="numero" data-op="8">8</button>
                <button id="btn-nove" class="numero" data-op="9">9</button>
                <button id="btn-multiplicacao" class="simbolo_segundo" data-op="*">x</button>
                <button id="btn-quatro" class="numero" data-op="4">4</button>
                <button id="btn-cinco" class="numero" data-op="5">5</button>
                <button id="btn-seis" class="numero" data-op="6">6</button>
                <button id="btn-subtracao" class="simbolo_segundo" data-op="-">-</button>
                <button id="btn-um" class="numero" data-op="1">1</button>
                <button id="btn-dois" class="numero" data-op="2">2</button>
                <button id="btn-tres" class="numero" data-op="3">3</button>
                <button id="btn-adicao" class="simbolo_segundo" data-op="+">+</button>
                <button id="btn-zero" class="numero_zero" data-op="0">0</button>
                <button id="btn-virgula" class="virgula" data-op=",">,</button>
                <button id="btn-igual" class="simbolo_segundo" data-op="=">=</button>

            </div>
        </div>
    </main>
    <script src="{% static 'global/js/index.js' %}"></script>
</body>
</html>
